__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
.env.*
!.env_default
.git/
.gitignore
.idea/
.vscode/
*.log
logs/
tests/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
src/vasya_fun_bot.session
*.session
*.session-journal
src/utils/models/vosk/*.zip
src/utils/models/vosk/vosk-model-*
node_modules/
src_fastapi/webapp/node_modules/
src_fastapi/webapp/static/
*.db
*.sqlite3
